---
import { getCollection } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import Search from "@/pages/search.astro";
import Archives from "@/pages/archives/index.astro";
import Tags from "@/pages/tags/index.astro";
import Socials from "@/components/Socials.astro";
import LinkButton from "@/components/LinkButton.astro";
import Card from "@/components/Card.astro";
import Hr from "@/components/Hr.astro";
import SVG from "@/components/SVG.astro";
import getSortedPosts from "@/utils/getSortedPosts";
import IconRss from "@/assets/icons/IconRss.svg";
import IconArrowRight from "@/assets/icons/IconArrowRight.svg";

import { SITE } from "@/config";
import { SOCIALS } from "@/constants";

import SmallManStandingBetweenGiantBooks from "@/assets/small-man-standing-between-giant-books.svg"
import BalancingConcentrationAndTaskManagementWithHeadphones from "@/assets/balancing-concentration-and-task-management-with-headphones.svg"
import ProfilePicturesOfPeople from "@/assets/profile-pictures-of-people.svg"

const posts = await getCollection("blog");

const sortedPosts = getSortedPosts(posts);
const featuredPosts = sortedPosts.filter(({ data }) => data.featured);
const recentPosts = sortedPosts.filter(({ data }) => !data.featured);
---

<Layout>
  <main id="main-content" data-layout="index">
    <section id="entry" class="pt-2 pb-4">
      <SVG
        src={SmallManStandingBetweenGiantBooks}
        alt=""
        caption=""
      />
      <Search />
        {
          recentPosts.length > 0 && (
            <section id="recent-posts" class="pt-12 pb-6">
              <h1 class="text-2xl font-semibold tracking-wide">Recent Posts</h1>
              <ul>
                {recentPosts.map(
                  (data, index) =>
                    index < SITE.postPerIndex && <Card variant="h3" {...data} />
                )}
              </ul>
            </section>
          )
        }
    </section>

    <div class="mx-auto flex max-w-app flex-col items-center justify-between sm:flex-row">
      </li>
      {
        SITE.lightAndDarkMode && (
          <li class="col-span-1 flex items-center justify-center">
            <button
              id="theme-btn"
              class="focus-outline relative size-12 p-4 sm:size-8 hover:[&>svg]:stroke-accent"
              title="Toggles light & dark"
              aria-label="auto"
              aria-live="polite"
            >
              <IconMoon class="absolute top-[50%] left-[50%] -translate-[50%] scale-100 rotate-0 transition-all dark:scale-0 dark:-rotate-90" />
              <IconSunHigh class="absolute top-[50%] left-[50%] -translate-[50%] scale-0 rotate-90 transition-all dark:scale-100 dark:rotate-0" />
            </button>
          </li>
        )
      }
      <li class="col-span-2">
        <Socials centered />
      </li>
    </div>
    <section id="archives" class="pt-2 pb-4">
      <SVG
        src={BalancingConcentrationAndTaskManagementWithHeadphones}
        alt=""
        caption=""
      />
      <Archives />
    </section>

  </main>
</Layout>

<script>
  document.addEventListener("astro:page-load", () => {
    const indexLayout = (document.querySelector("#main-content") as HTMLElement)
      ?.dataset?.layout;
    if (indexLayout) {
      sessionStorage.setItem("backUrl", "/");
    }
  });
</script>
