:global(.excalidraw-svg .fill-skin-base) {
    fill: rgb(40, 39, 40);
}
:global(.dark .excalidraw-svg .fill-skin-base) {
    fill: rgb(175, 176, 177);
}

:global(.excalidraw-svg .fill-skin-soft) {
    fill: rgb(40, 39, 40);
}
:global(.dark .excalidraw-svg .fill-skin-soft) {
    fill: rgb(175, 176, 177);
}

:global(.excalidraw-svg .stroke-skin-accent) {
    stroke: rgb(26, 26, 26);
}
:global(.dark .excalidraw-svg .stroke-skin-accent) {
    stroke: rgb(245, 245, 245);
}

:global(.excalidraw-svg .excalidraw-element) {
    transition: all 0.3s ease-in-out;
}
:global(.excalidraw-svg .excalidraw-element:hover) {
    opacity: 0.8;
}